#Bloque 1 (Herramientas para la IA)

# Tareas 

# Bloque 2

# Imágenes perros y gatos
B2_DL/DL2/Data
B2_DL/DL2/2_ConvolucionalesPytorch/CATS_DOGS
B2_DL/DL2/2_ConvolucionalesPytorch/TigerHyenaCheetah
B2_DL/DL2/Data