#Bloque 1 (Herramientas para la IA)

# Tema 1

/B1_HerramientasParaIA/T1_Introduccion_Python/Matplotlib_notebook

# Tema 2


# Tema 3


# Tema 4

B1_HerramientasParaIA/T4_MachineLearning/Clases9_10/tarea
B1_HerramientasParaIA/T4_MachineLearning/UV_anomalias
B1_HerramientasParaIA/T4_MachineLearning/aprendizaje_no_supervisado
B1_HerramientasParaIA/T4_MachineLearning/Tarea4/OOP.ipynb

# Tema 5

B2_AprendizajeIA/T5_MLP/NotebookClases

# Tema 6
B2_AprendizajeIA/T6_RedesConvolucionales/MaterialClase
